html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../img/mcwall.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 80px 0;
}

header, footer {
    background: #adcdcb82;
    width: 100%;
    height: 80px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 20px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

textarea {
    resize: none;
    font-size: 20px !important;
}

.background-container {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;
}

.element-right {
    text-align: end;
}

.buttons-column {
    padding-top: 40px;
}

.rounded {
    border-radius: 10px;
}

.disconnect {
    padding: 22px 30px;
}

.title {
    padding-left: 30px;
}

.vertical-center {
    min-height: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.morse-code {
    font-size: 50px;
    color: #fff;
}

.status {
    font-size: 12px;
    height: 14px;
    font-weight: 700;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 275px;
    background-color: lightgray;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
