<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Morse Code Interpreter - By Socket</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morsecode.js') }}"></script>
</head>
<body>
    <header>
        <div class="form-group row">
            <div class="col-md-6 title">
                <h1>Morse Code Interpreter</h1>
            </div>
            <div class="col-md-6 element-right disconnect">
                <button type="button" id="btnDisconnect" class="btn btn-danger" onclick="disconnect()">Disconnect</button>
                <button type="button" id="btnReconnect" class="btn btn-primary hide" onclick="reconnect()">Reconnect</button>
            </div>
        </div>
    </header>

    <div class="vertical-center">

        <div class="container background-container rounded">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="emit_data_morse">Morse Code</label>
                        <textarea class="form-control" id="emit_data_morse" rows="10"></textarea>
                    </div>
                </div>

                <div class="col-md-2 buttons-column">
                    <div class="form-group row">
                        <button type="button" class="btn btn-block btn-info" onclick="sendMessage(MSG_ORIGIN_MORSE)">To Text</button>
                    </div>
                    <div class="form-group row">
                        <button type="button" class="btn btn-block btn-warning" onclick="sendMessage(MSG_ORIGIN_TEXT)">To Morse</button>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label for="emit_data_morse">Plan Text</label>
                        <textarea class="form-control" id="emit_data_text" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 element-right">
                    <span id="spnStatus" class="status">Disconnected</span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <marquee directions="left" class="morse-code">--&nbsp;---&nbsp;.-.&nbsp;...&nbsp;.&nbsp;&nbsp;&nbsp;-.-.&nbsp;---&nbsp;-..&nbsp;.&nbsp;&nbsp;&nbsp;..&nbsp;-.&nbsp;-&nbsp;.&nbsp;.-.&nbsp;.--.&nbsp;.-.&nbsp;.&nbsp;-&nbsp;.&nbsp;.-.</marquee>
    </footer>

</body>
</html>